.cart {
  padding: 15px;
}
.cart-info-detail {
  display: flex;
  justify-content: space-evenly;
}
.break-flex {
  display: flex;
}
.break-exercise {
  background-color: aliceblue;
  padding: 12px 17px;
  margin-left: 8px;
  list-style: none;
  border-radius: 5px;
  cursor: pointer;
}
.activity-btn {
  padding: 10px 15px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: orange;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
