.exercise-store-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.exercise-card-container {
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.text-exercise {
  margin-left: 20px;
}

.exercise-cart-container {
  background-color: #d9d0d0;
}

@media screen and (max-width: 688px) {
  .exercise-card-container {
    grid-template-columns: 1fr;
  }
}
